.output {
  display: flex;
  justify-content: center;
  position: relative;
}

.top-bar {
  position: absolute;
  left: 0;
  top: 0;
}

mat-card {
  width: auto;
}

mat-card::ng-deep.mat-card-header-text {
  text-align: center;
  width: 100%;
}


div {
  flex: 50%;
  border-radius: 10px
}

.outlook {
  padding: 10px;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  height: 140px;
  width: 130px;
}

.temp {
  background: lightblue;
  text-align: center;
  padding: 10px;
  color: black;
  margin-right: 10px;
  height: 140px;
  width: 130px;
}

.big-text {
  font-size: 30px;
}



.image {
  height: 80px;
}
