<mat-toolbar color="primary">
    {{ 'Orų prognozių programėlė' | titlecase}}
</mat-toolbar>
<div class="content"
     fxLayout="row"
     fxLayoutAlign="center center"
     style="margin-top:20px;">
    <mat-form-field style="margin: 0px 10px;">
        <mat-label>Pasirinkite miestą</mat-label>
        <mat-select [formControl]="cityControl">
            <mat-option (click)="onSelect()"
                        *ngFor="let city of cities"
                        [value]="city">
                {{city}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ieškoti miesto</mat-label>
        <input matInput
               type="text"
               [formControl]="searchCityControl">
        <button *ngIf="searchCityControl.value"
                matSuffix
                mat-icon-button
                color="primary"
                aria-label="Search"
                (click)="searchForCity()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <br />
</div>